target
.env
.rainbow_docs_installed
config
data
.surreal_pid
uploads
test.txt
开发清单.md
01-SoulseedAGI开发架构文档
soul-base
soulbase清单.md
review
修改清单.md
ret.xlsx
文档问题清单.md
文档新版功能.md
newdocs
soulbase
问题清单.md